.menuPage{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    /* flex-direction: column; */
}
.lableName{
    font-size: 25px;
}
.counter h1{
    text-align: center;
    font-size: 15px;
}
.cancelSign{
    filter: invert(1);
}
